.next
node_modules
.pnpm-store
.env.local
api.env
api.env.rtf
out
tsconfig.tsbuildinfo
storage/*
!storage/.gitkeep
!storage/jobs/.gitkeep
!storage/references/.gitkeep
!storage/uploads/.gitkeep
!storage/renders/.gitkeep
